body {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;

}

.display {
    border: 2px solid black;
    width: 90%;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    padding: 10px;
}

button {
    border: 1px solid grey;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size: larger;
}

button:hover {
    background-color: rgb(86,86,86);
}


.buttons {
    display: flex;
    flex: 1;
    background-color: pink;
    flex-direction: column;
    padding: 20px;
}

.buttonRow {
    display: flex;
    flex: 1;
    margin: 5px;
    gap: 10px;
}

#calculator {
    width: 800px;
    height: 900px;
    background-color: grey;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

